[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-scheduler --address=127.0.0.1 --master=https://${K8S_MASTERS}:6443   --kubeconfig=/etc/kubernetes/ssl/kube-scheduler.kubeconfig   --leader-elect=true   --alsologtostderr=true   --logtostderr=false   --log-dir=/var/log/kubernetes   --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
